*{
    margin: 0;
      padding: 0;
    box-sizing: border-box;
    font-family: 'Open sans' ;
  }
  body{
    background-image: url("https://pbs.twimg.com/media/EmPpx_6WEAEXh3w.jpg:large");
    background-size: 0px cover;
  }
  nav{
    max-width: 1100px;
    margin: auto;
    background-color: #ebf7ff;
    font-size: 40px;
    margin-top: 60px;
  }
  .menu-horizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
  }
  .menu-horizontal > li > a{
    display: block;
    padding: 15px 30px;
    color: #574142;
    text-decoration: none;
  }
  .menu-horizontal > li:hover{
    background-color: #d7f8f6;
  }
  .menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: #eff9fa;
  }
  .menu-horizontal li:hover .menu-vertical{
    display: block;
  }
  .menu-vertical li:hover{
    background-color: #ffff
  }
  .menu-vertical li a{
    display: block;
    color: #574142;
    padding: 15px 15px 15px 20px;
    text-decoration: none;
  }
