*{
    margin: 0;
      padding: 0;
    box-sizing: border-box;
    font-family: 'Open sans' ;
  }
  body{
    background-image: url("https://i.pinimg.com/564x/a0/e5/9d/a0e59dce0c8d700da7c306403f5ee83a.jpg");
    background-size: 10px cover;
  }
  nav{
    max-width: 1100px;
    margin: auto;
    background-color: #f4ebff;
    font-size: 40px;
    margin-top: 60px;
  }
  .menu-horizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
  }
  .menu-horizontal > li > a{
    display: block;
    padding: 15px 20px;
    color: #574142;
    text-decoration: none;
  }
  .menu-horizontal > li:hover{
    background-color: #ebd7f8;
  }
  .menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: #f4effa;
  }
  .menu-horizontal li:hover .menu-vertical{
    display: block;
  }
  .menu-vertical li:hover{
    background-color: #ffffff
  }
  .menu-vertical li a{
    display: block;
    color: #574142;
    padding: 15px 15px 15px 20px;
    text-decoration: none;
  }
@import url(´https://fonts.googleapis.com/css2?family=Prompt:wght@300;700&display=swap´);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ´Prompt´;
}
section{
    height: 70vh;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #574142;
}
#inicio{
    background-color: #f7ebff;
    color: #574142;
    height: 100vh;
}
section h1{
    font-size: 70px;
}
section img{
    width: 350px;
    margin: 0 50px;
}
section .info{
    width: 600px;
    margin: 0 px;
}
.Biografia{
    position:relative;
    left: -50px;
    opacity: 0;
}
.efecto-Biografia{
    left: 0px;
    opacity: 1;
    transition: 1s linear;
}
.tennis{
    transform: scale(0.5);
    opacity: 0;
}
.efecto-tennis{
    transform: scale(1);
    opacity: 1;
}
.judo{
    position: relative;
    bottom: -80px;
    opacity: 0;
}
.judo-efecto{
    opacity: 1;
    bottom: 0;
    transition: 1s linear;
}


.natacion{
    transform: scale(.5);
    opacity: 0;
}
.natacion-efecto{
    transform: scale(1);
    opacity: 1;
}
.img{
  border-radius: 80% ;


}
